* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: #f29ef3;
  }
  
  .gameboard {
    width: 1200px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
  }
  
  .game-card {
    width: calc(15% - 10px);
    height: calc(33.3% - 10px);
    margin: 5px;
    position: relative;
    border: 3px solid #663398;
    border-radius: 10px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .4s;
  }
  
  .game-card:active {
    transform: scale(0.97);
    transition: transform .1s;
  }
  
  .game-card.flip {
    transform: rotateY(180deg);
  }
  
  .front,
  .cover {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 7px;
    background: #974fd9;
    backface-visibility: hidden;
  }
  
  .front {
    transform: rotateY(180deg);
  }